extends layout

block content
    .inner
        h2= `${name}`
        p= `Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam impedit, ducimus provident, voluptatem suscipit mollitia saepe ut aliquid itaque quisquam porro ipsam iste labore nisi placeat. Tempora quod nostrum molestias?`